{% extends "wordwolves/base.html" %}
{% load i18n %}

{% block title %}{% trans "create room" %}{% endblock %}

{% block content %}
    <form action="{% url 'WW:room' %}" method=POST>
        {% csrf_token %}
        <p><label for="num_members">{% trans "number of members: " %}</label>
        <input type="number" name="num_members"></p>
        
        <!-- <p><label for="category">category of theme</label>
        <input type="text" name="category"></p> -->

        <!-- <p><label for="nickname">your name is</label>
        <input type="text" name="nickname"></p> -->
    
    
        <p>
            <input type="submit" value="{% trans 'confirm' %}"/>
        </p>
    </form>
{% endblock content %}