{% extends "wordwolves/base.html" %}
{% load i18n %}

{% block title %}
{% endblock %}

{% block content %}
    {% if error_message %}
        <p><h1 class="error_message">{{ error_message }}</h1></p>
    {% endif %}

    <form action="{% url 'WW:entrance' room_name %}" method="POST">
        {% csrf_token %}
        {% trans 'Welcome to Room:' %} {{ room_name }} <br>
        {% trans 'If you are new, enter your name' %} <br>
        <input type="text" name="nickname">
        <input type="submit" value="{% trans 'confirm' %}"/>
    </form>
    <br>
    <br>
    <br>
    <br>
    <form action="{% url 'WW:entrance' room_name %}" method="POST">
        {% csrf_token %}
        <label for="already_entered">{% trans 'Have you already entered the room? click' %}</label>
        <input type="hidden" name="already_entered" value="already_entered">
        <input type="submit" value="{% trans 'here' %}"/>

    </form>
{% endblock content %}