{% extends "wordwolves/base.html" %}
{% load i18n %}

{% block title %}
{% trans 'temporal lock' %}
{% endblock %}

{% block content %}
    <form action="{% url 'WW:mypage' room_name nickname %}" method="POST">
        {% csrf_token %}
        {% trans 'Hi' %} {{ nickname }}! <br>
        {% trans 'enter your temporal pass ' %}
        {% trans '(less than 4 characters).' %} <br>
        <input type="text" name="plain_pass">
        <input type="submit" value="{% trans 'confirm' %}"/>
    </form>
{% endblock content %}