{% extends "wordwolves/base.html" %}
{% load i18n %}

{% block title %}
{% trans "Game Results" %}

{% endblock %}

{% block content %}
    {% if status == "waiting" %}
    {% trans 'waiting for other votes' %}
        <form action="{% url 'WW:game_res' room_name nickname %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="vote" value="{{ vote }}">
            <input type="submit" value="{% trans 'reload' %}"/>
        </form>
    {% else %}
        {% if status == "draw" %}
            {% trans 'game is draw' %}
        {% else %}
            {% trans 'winner:' %} <h1><b>{{ winner }}</b></h1>
        {% endif %}
        
        <br>
        <h3>{% trans "whoswho" %}</h3>
        <br>
        {% for player in players %}
            {{ player.nickname }} : {{ player.item }} <br>

        {% endfor %}

        <br>
        <h3>{% trans "vote" %}</h3>
        <br>
        {% for player in players %}
            {{ player.nickname }} -> {{ player.vote }} <br>
        {% endfor %}
        <br>
        <div class="select_button">
            <a href="{% url 'WW:replay' room_name nickname %}" class="btn-flat-vertical-border">{% trans 'another game with same members' %}</a>
        </div>
    {% endif %}
{% endblock %}