{% extends "wordwolves/base.html" %}
{% load i18n %}

{% block title %}

Game Results

{% endblock %}

{% block content %}
    {% if status == "waiting" %}
        waiting for other votes
        <form action="{% url 'WW:game_res' room_name nickname %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="vote" value="{{ vote }}">
            <input type="submit" value="reload"/>
        </form>
    {% else %}
        {% if status == "draw" %}
            game is draw
        {% else %}
            winner: <h1><b>{{ winner }}</b></h1>
        {% endif %}
        
        <br>

        {% for player in players %}
            {{ player.nickname }} : {{ player.item }} <br>

        {% endfor %}

        <br>
        <div class="select_button">
            <a href="{% url 'WW:replay' room_name nickname %}" class="btn-flat-vertical-border">another game with same members</a>
        </div>
    {% endif %}
{% endblock %}