{% extends "wordwolves/base.html" %}
{% load i18n %}

{% block title %}
{% trans 'Room has been successfully created' %}
{% endblock %}

{% block content %}
    <div>
        {% trans 'Room has been created!' %}
    </div>
    <div>
        {% trans 'Room name' %}: {{room_name}} <br>
        {% trans 'let other member know the room name so they can join.' %} <br>
    </div>
    <div>
        <a href="{% url 'WW:entrance' room_name %}" class="btn-flat-vertical-border">{% trans 'go to room' %}</a>

    </div>

{% endblock content %}