{% extends "wordwolves/base.html" %}
{% load i18n %}

{% block title %}
{% trans "WordWolves" %}
{% endblock %}

{% block subtitle %}

{% trans "for online party" %}
{% endblock %}

{% block content %}

    <div class="select_button">
        <a href="{% url 'WW:create_room' %}" class="btn-flat-vertical-border">{% trans "create room" %}</a>
    </div>
    <div class="select_button">
        <a href="{% url 'WW:enter_room' %}" class="btn-flat-vertical-border">{% trans "enter room" %}</a>
    </div>
    {% endblock content %}